<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Public/css/admin-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN Panel</title>
</head>
<body>
    <div class="Panel01">
        <button>
            <a class="AdminLink" href="tracking.html">BACK</a>
        </button>
    </div>

    <div class="Panel04">
        <table class="AdminTable">
            <tr><th>No.</th></tr>
            <tr><td>1</td></tr>
        </table>

        <table class="AdminTable">
            <tr><th>Driver</th></tr>
            <tr><td>Ananchai</td></tr>
        </table>

        <table class="AdminTable">
            <tr><th>ItemID</th></tr>
            <tr><td>123123123132</td></tr>
        </table>
        <table class="AdminTable">
            <tr><th>Status</th></tr>
            <tr><td>Complete</td></tr>
        </table>
    </div>
    <div class="PanelContainer">
        <div class="Panel02">
            <h1>Graph</h1>

        </div>
        <div class="Panel03">
            <h1>Statistics</h1>

        </div>
    </div>
    </div>
</body>
</html>