﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Parcels</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Weight</th>
                <th>Status</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Origin</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody id="parcels">
            <!-- ข้อมูลจะถูกเติมที่นี่ -->
        </tbody>
    </table>
    <script src="/Scripts/loadParcel.js"></script>
</body>
</html>