<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/Public/css/tracking-style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking Parcel</title>
</head>
<body>
    <form class="Panel01" id="TrackingForm">
        <input class="TrackingBxTx" id="TrackingBxTx" type="text" placeholder="Enter Tracking Number.....">
        <button class="TrackingBtn" type="submit">Track</button>
        <button class="TrackingBtn">
            <a class="AdminLink" href="admin.html">ADMIN</a>
        </button>

    </form>
    <div class="Panel02">
        <div>
            <div class="image_track_box">
                <img class="image_track" src="/Public/assets/Logo01_Box.png" alt="">
            </div>
            <p class="LabelTrack"> Packing</p>
        </div>


        <div>
            <div class="image_track_box">
                <img class="image_track" src="/Public/assets/Logo02_Van.png" alt="">
            </div>
            <p class="LabelTrack"> Transit</p>
        </div>
        <div>
            <div class="image_track_box">
                <img class="image_track" src="/Public/assets/Logo03_Check.png" alt="">
            </div>
            <p class="LabelTrack"> Delivered!</p>
        </div>
    </div>
    <div class="Panel03">
        <div class="processing">
            <img class="tracking_info" src="/Public/assets/Report_icon_01.png" alt="">
            <p>Date</p>
            <p>Location</p>
            <p>Status</p>
        </div>
    </div>
    <script src="/Scripts/tracking-script.js"></script>
</body>
</html>